.payment-item {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	justify-items: center;
	border-bottom: 1px solid $shadows;
	box-shadow: 0px 0px 8px 1px $shadows;
	border-radius: $small_border;
	margin-bottom: 1.5rem;
	&__content {
		font-size: 0.8rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 90%;
		padding: 0.2rem;
		p,
		h3 {
			margin: 0.9rem 0rem;
		}
	}
	&__quantity {
		font-size: 1rem;
		text-align: center;
	}
	&__price {
	}
	&__name {
		font-size: 1rem;
		font-weight: 500;
	}
	&__sku {
		font-size: 0.6rem;
		text-align: right;
		margin-right: 5px;
	}
}
